.onOf {
    display: flex;
}
.button {
    width: 60px;
    height: 20px;
    margin-left: 3px;
    text-align: center;
    border-radius: 3px;
    background-color: grey;
}
.buttonOn {

}
.buttonOff {

}
.buttonOn:hover{
    background-color: aquamarine;
}
.buttonOff:hover{
    background-color: aquamarine;
}
.indicator {
    width: 20px;
    height: 20px;
    margin-left: 3px;
    border-radius: 10px;
    background-color: red;
}
.active {
    width: 20px;
    height: 20px;
    margin-left: 3px;
    border-radius: 10px;
    background-color: green;
}